#background-video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100;
  width: 100%;
  height: 100%;
  object-fit: cover; /* обрезает или масштабирует видео под экран */
  object-position: 50% 50%;
  filter: brightness(60%); /* уменьшает яркость до 60% */
  z-index: -1; /* отправляем видео под контент */
}

#playerName{
  font-size: 60px;
  font-style: oblique;
  text-shadow: 4px 4px black;
  letter-spacing: 2px;
}

.loading{
  display: inline-block; /* всё в одной линии */
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 25px;
  margin-bottom: 100px;
}

.dots{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.dots span {
  animation: blink 1.5s infinite;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% { opacity: 0; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

#ll {
  margin-top: -70px;
  font-size: 45px;
}

#YES,
#NO {
  background: rgba(249, 249, 249, 0.6);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  font-size: 40px;
}

#p{
  font-style: oblique;
  font-size: 55px;
}

#pscore{
  position: fixed;
  bottom: 0;
  font-size: 30px;
  font-style: oblique;
  width: fit-content;
  background: rgba(205, 205, 205, 0.7); /* прозрачный белый фон */
  border: 2px solid rgba(85, 85, 85, 0.85); /* полупрозрачная белая рамка */
  padding: 10px 5px;
  border-radius: 10px;
  -webkit-text-stroke: 1px rgba(35, 35, 35, 0.85); /* толщина и цвет обводки */
  text-stroke: 1px rgba(35, 35, 35, 0.85);
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
}

@media (max-width: 480px) {
  #playerName{
    font-size: 28px;
    text-shadow: 4px 4px black;
    letter-spacing: 1px;
  }
}
